name: MLOps Deploy Only Pipeline

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build-deploy:
    runs-on: self-hosted

    steps:

    ###################################
    # 1. Checkout Code
    ###################################
    - name: Checkout
      uses: actions/checkout@v4

    ###################################
    # 2. Download Artifacts FROM S3
    ###################################
    - name: Download Model From S3
      run: |
        echo "Downloading artifacts from S3..."
        aws s3 cp s3://helath-trainmodel/artifacts/model.pkl .
        aws s3 cp s3://helath-trainmodel/artifacts/vectorizer.pkl .

        echo "Listing downloaded files..."
        ls -ltr

    ###################################
    # 3. Login To ECR
    ###################################
    - name: Login ECR
      run: |
        aws ecr get-login-password --region ap-south-1 | docker login \
        --username AWS \
        --password-stdin 861550625988.dkr.ecr.ap-south-1.amazonaws.com

    ###################################
    # 4. Build Docker Image
    ###################################
    - name: Build Docker Image
      run: |
        docker build -t 861550625988.dkr.ecr.ap-south-1.amazonaws.com/mlhealth .

    ###################################
    # 5. Push Docker Image
    ###################################
    - name: Push To ECR
      run: |
        docker push 861550625988.dkr.ecr.ap-south-1.amazonaws.com/mlhealth

    ###################################
    # 6. Run Container Locally
    ###################################
    - name: Run Container
      run: |
        

        echo "Starting new container..."
        docker run -d -p 8000:8000 --name ml-health \
        861550625988.dkr.ecr.ap-south-1.amazonaws.com/mlhealth
